---
import Layout from '@jsbatt/layouts/Layout.astro';
import CreateResultsIsland from '@jsbatt/components/vue/CreateResultIsland.vue';
---

<Layout title="React page">
	<main>
    <CreateResultsIsland client:load />
  </main>
</Layout>