---
import Layout from '@jsbatt/layouts/Layout.astro';
import RTableRoot from '@jsbatt/components/react/RTableRoot.tsx';
---

<Layout title="React page">
	<main>
    <RTableRoot client:only="react"/>
  </main>
</Layout>
