---
import Layout from '@jsbatt/layouts/Layout.astro';
import STableRoot from '@jsbatt/components/solid/STableRoot.tsx';
---

<Layout title="Solid page">
	<main>
    <STableRoot client:load/>
  </main>
</Layout>
